[submodule "lib/make-various"]
	path = lib/make-various
	url = https://codeberg.org/lilium/make-various.git
	branch = master
[submodule "lib/exec_u001"]
	path = lib/exec_u001
	url = https://codeberg.org/lilium/exec_u001.git
	branch = master
